body {
    font: 400 15px Tahoma, sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: #252525;
    background-color: #fff;
}
/*especificidad=1*/
h1 {
    background-color:#ff5e00; 
    color: #fff;
    text-transform: uppercase;
    padding: 100px 25px;
    text-align: center;   
}


/*especificidad=1*/
h2{
    background-color: #ff5e00;
    color:#fff;
    text-transform: capitalize;
    padding: 25px 25px;
    text-align: left;
}
/*especificidad=1*/
p{
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 75px;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
}
/*especificidad=1*/
ul{
    border-left: 5px solid tan;
    background-color: #f2f2f2;
    color: #252525;
    list-style-type: none;
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 75px;
}
/*especificidad=1*/
table{
    border-collapse: collapse;
    width:95%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 75px;
}
/*especificidad=1*/
th{
    height: 50px;
    text-align: left;
    vertical-align: center;
    padding:15px;
    background-color:rgb(48, 28, 2);
    color:#fff;
}
/*especificidad=1*/
td{
    text-align: left;
    vertical-align: center;
    padding:15px;
}
/*especificidad=12*/
tr:nth-child(even) {
    background-color:#f2f2f2;
    color: #252525;
}

/* unvisited link */
/*especificidad=11*/
a:link {
    color:black;
    background-color: #fff;
    text-decoration: none;
}
  
/* visited link */
/*especificidad=11*/
a:visited {
    color: black;
    background-color: #fff;
    text-decoration: none;
}
  
/* mouse over link */
/*especificidad=11*/
a:hover {
    color: rgb(37, 35, 32);
    background-color: #fff;
    text-decoration: underline;
}
  
/* selected link */
/*especificidad=11*/
a:active {
    color: black;
    background-color: #fff;
    text-decoration: underline;
}
/*para que el cursor sobre un enlace se transforme en pointer*/
/*especificidad=1*/
span{
    cursor: pointer;
}

/*especificidad=1*/
img{
    width: 10cm;
    height: 7cm;
}

/*especificidad=1*/
video{
    width: 10cm;
    height: 7cm;
}